@font-face {
  font-family: "iconfont"; /* Project id 3142289 */
  src: url('iconfont.woff2?t=1649933186090') format('woff2'),
       url('iconfont.woff?t=1649933186090') format('woff'),
       url('iconfont.ttf?t=1649933186090') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jubao:before {
  content: "\e648";
}

.icon-chakan1:before {
  content: "\e61c";
}

.icon-chakan:before {
  content: "\e65f";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-pinglun:before {
  content: "\e62f";
}

.icon-dianzan:before {
  content: "\e618";
}

.icon-mima:before {
  content: "\e6a8";
}

.icon-youxiang:before {
  content: "\e604";
}

.icon-mimakejian2x:before {
  content: "\e629";
}

.icon-mimabukejian2x:before {
  content: "\e633";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-zhankai1:before {
  content: "\e786";
}

